doctype html
html(lang=pageLang)
	head
		meta(charset='utf-8')
		title= pageTitle
		link(rel='stylesheet',href='../../lib/statistics-classification-binary.css')
		script(src='http://code.jquery.com/jquery-2.1.4.min.js')
		script(src='../../lib/statistics-classification-binary.js')
		style.
			nav {
				background: #BCF;
			}
			nav ul {
				display: inline-block;
				list-style: none;
				margin: 0;
				padding: .5em;
			}
			nav li {
				display: inline-block;
				margin: 0;
				padding: .5em;
			}
			nav li.active {
				background: #FFF;
			}
			@media print {
				nav {
					display: none;
				}
			}
	body
		nav
			ul: each template in pagesTemplates
				if pageTemplate==template.code
					li.active= template.name
				else
					li: a(href='../'+template.code+'/')= template.name
			ul: each lang in pagesLangs
				if pageLang==lang.code
					li.active= lang.name
				else
					li: a(href='../../'+lang.code+'/'+pageTemplate+'/',lang=lang.code,hreflang=lang.code)= lang.name
		section.statistics-classification-binary(data-storage='statistics-classification-binary')
			block contents
				= jsStub
